.page-content {
  height: 100%;
}

.page-content__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.75);
  background-color: white;
}
.page-content__header h2 {
  margin: 0;
}
.page-content__header_actions button:not(:last-child) {
  margin-right: 5px;
}

.page-content__main {
  padding: 20px;
}